mat-toolbar {
  .options-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tools-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menu-button {
    width: fit-content;
    display: flex;
    align-items: center;
  }

}
.flag-menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}