<mat-toolbar>
  <div class="container-fluid">
    <div class="row">
      <div class="title-icon-area col-3">
        <button mat-button>
          <span>My App</span>
        </button>
      </div>
      <div class="options-area col-6">
        Here Comes the buttons
      </div>
      <div class="tools-area col-3">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>share</mat-icon>
       </button>
      </div>
    </div>
  </div>
</mat-toolbar>
