mat-toolbar {
  .options-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tools-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}