<div class="container lineup-selection-container" *ngIf="playerList$ | async as playerList; else loading">
  <form [formGroup]="lineupForm">
    <div class="row goalkeepers-row">
      <div class="position-row-title col-12">
        {{'footballWiz.positions.goalkeeperPlural' | translate}}
      </div>
      <div class="add-button-col col-12">
        <button mat-raised-button color="primary" (click)="openPlayerSelectionDialog(playerList.goalkeepers, 'goalkeeper')">
          <mat-icon aria-hidden="false" aria-label="plus">add</mat-icon>
          {{'footballWiz.addPlayer' | translate}}
        </button>
        <button mat-stroked-button color="primary" (click)="deleteAllSelections('goalkeeper')"
        *ngIf="isFullList('goalkeeper')">
          {{'footballWiz.deleteAll' | translate}}
        </button>
      </div>
      <div class="col-12 player-item">
        <div formArrayName="goalkeeper" *ngFor="let item of lineupForm.get('goalkeeper')['controls']; let i = index;"
        class="margin-bottom">
          <div [formGroupName]="i">
            <app-player-card [player]="getPlayerToDisplay('goalkeeper', i)" [closeAvailable]="true"
            (playerDeleted)="deletePlayer('goalkeeper', i)">
            </app-player-card>
          </div>
        </div>
        <div class="empty-message" *ngIf="lineupForm.get('goalkeeper')['controls'].length < 1">
          {{'footballWiz.emptyMessage' | translate}}
        </div>
      </div>
    </div>
    <div class="row defenders-row">
      <div class="position-row-title col-12">
        {{'footballWiz.positions.defenderPlural' | translate}}
      </div>
      <div class="add-button-col col-12">
        <button mat-raised-button color="primary" (click)="openPlayerSelectionDialog(playerList.defenders, 'defence')">
          <mat-icon aria-hidden="false" aria-label="plus">add</mat-icon>
          {{'footballWiz.addPlayer' | translate}}
        </button>
        <button mat-stroked-button color="primary" (click)="deleteAllSelections('defence')"
        *ngIf="isFullList('defence')">
          {{'footballWiz.deleteAll' | translate}}
        </button>
      </div>
      <div class="col-12 player-item">
        <div formArrayName="defence" *ngFor="let item of lineupForm.get('defence')['controls']; let i = index;"
        class="margin-bottom">
          <div [formGroupName]="i">
            <app-player-card [player]="getPlayerToDisplay('defence', i)" [closeAvailable]="true"
            (playerDeleted)="deletePlayer('defence', i)">
            </app-player-card>
          </div>
        </div>
        <div class="empty-message" *ngIf="lineupForm.get('defence')['controls'].length < 1">
          {{'footballWiz.emptyMessage' | translate}}
        </div>
      </div>
    </div>
    <div class="row midfielders-row">
      <div class="position-row-title col-12">
        {{'footballWiz.positions.midfielderPlural' | translate}}
      </div>
      <div class="add-button-col col-12">
        <button mat-raised-button color="primary" (click)="openPlayerSelectionDialog(playerList.midfielders, 'midfield')">
          <mat-icon aria-hidden="false" aria-label="plus">add</mat-icon>
          {{'footballWiz.addPlayer' | translate}}
        </button>
        <button mat-stroked-button color="primary" (click)="deleteAllSelections('midfield')"
        *ngIf="isFullList('midfield')">
          {{'footballWiz.deleteAll' | translate}}
        </button>
      </div>
      <div class="col-12 player-item">
        <div formArrayName="midfield" *ngFor="let item of lineupForm.get('midfield')['controls']; let i = index;"
        class="margin-bottom">
          <div [formGroupName]="i">
            <app-player-card [player]="getPlayerToDisplay('midfield', i)" [closeAvailable]="true"
            (playerDeleted)="deletePlayer('midfield', i)">
            </app-player-card>
          </div>
        </div>
        <div class="empty-message" *ngIf="lineupForm.get('midfield')['controls'].length < 1">
          {{'footballWiz.emptyMessage' | translate}}
        </div>
      </div>
    </div>
    <div class="row strikers-row">
      <div class="position-row-title col-12">
        {{'footballWiz.positions.strikerPlural' | translate}}
      </div>
      <div class="add-button-col col-12">
        <button mat-raised-button color="primary" (click)="openPlayerSelectionDialog(playerList.strikers, 'attack')">
          <mat-icon aria-hidden="false" aria-label="plus">add</mat-icon>
          {{'footballWiz.addPlayer' | translate}}
        </button>
        <button mat-stroked-button color="primary" (click)="deleteAllSelections('attack')"
        *ngIf="isFullList('attack')">
          {{'footballWiz.deleteAll' | translate}}
        </button>
      </div>
      <div class="col-12 player-item">
        <div formArrayName="attack" *ngFor="let item of lineupForm.get('attack')['controls']; let i = index;"
        class="margin-bottom">
          <div [formGroupName]="i">
            <app-player-card [player]="getPlayerToDisplay('attack', i)" [closeAvailable]="true"
            (playerDeleted)="deletePlayer('attack', i)">
            </app-player-card>
          </div>
        </div>
        <div class="empty-message" *ngIf="lineupForm.get('attack')['controls'].length < 1">
          {{'footballWiz.emptyMessage' | translate}}
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #loading>
  {{'loading' | translate}}...
</ng-template>