.position-row-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.row, .add-button-col {
  margin-bottom: 25px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.add-button-col {
  display: flex;
  justify-content: space-between;
}