<div class="container init-container" *ngIf="lineups$ | async as lineupList">
  <div class="title-row row">
    <div class="page-title col-12">
      {{'footballWiz.title' | translate}}
    </div>
    <div class="page-subtitle col-12">
      {{'footballWiz.subtitle' | translate}}
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row main-row">
      <div class="col-8 left-side">
        <app-lineup-selection [lineupForm]="getLineupForm()">
        </app-lineup-selection>
      </div>
      <div class="col-4 right-side">
        <div class="formation-select-container">
          <mat-form-field appearance="outline">
            <mat-label>{{'footballWiz.formationLabel' | translate}}</mat-label>
            <mat-select formControlName="formation" name="formation">
              <mat-option [value]="'best'">{{'footballWiz.best' | translate}}</mat-option>
              <mat-option *ngFor="let lineup of lineupList" [value]="lineup">
                {{lineup.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="submit-button-row">
          <button mat-raised-button color="primary"
          (click)="calculateBestLineup()"
          >{{'footballWiz.submit' | translate}}</button>
        </div>
      </div>
    </div>
  </form>
</div>