.card-content {
  font-family: 'Poppins';
  overflow: unset;
  .input-container {
    mat-form-field {
      width: 100%;
    }
  }
  .player-list-container {
    max-height: 425px;
    overflow-y: auto;
    .card-container {
      margin-bottom: 10px;
    }
  }
}