<h1 mat-dialog-title>{{'playerSelect.title' | translate}}</h1>
<div mat-dialog-content class="card-content">
  <div class="input-container" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{'footballWiz.searchInput' | translate}}</mat-label>
      <input matInput formControlName="playerToSearch" (input)="filterPlayerList()">
    </mat-form-field>
  </div>
  <div class="player-list-container">
    <div class="card-container" *ngFor="let player of copyList">
      <app-player-card [player]="player"
      (playerSelected)="closeDialog(player)"></app-player-card>
    </div>
  </div>
</div>