<h1 mat-dialog-title>{{'playerSelect.title' | translate}}</h1>
<div mat-dialog-content class="card-content">
  <div class="card-container" *ngFor="let player of list">
    <mat-card class="player-card">
      <div class="player-image-area">
        <img src="{{player.images.transparent['128x128']}}" class="player-image" alt="Player">
      </div>
      {{player.nickname}} - {{player.points}}
    </mat-card>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>