.home-container {
  position: relative;
  display: flex;
  .home-left-side {
    width: 70%;
    min-height: calc( 100vh - 128px );
    .left-side-container {
      padding: 50px 100px 50px 50px;
    }
  }
  .home-right-side {
    width: 30%;
    min-height: calc( 100vh - 128px );
    border-left: 15px solid white;
    background-color: steelblue;
  }
}
.circle-area {
  position: absolute;
  top: calc( 50vh - 128px);
  right: 22.1vw;
  img {
    fill: white;
  }
}

