<div class="home-container">
  <div class="home-left-side">
    <div class="container left-side-container">
      <h1 class="page-title">Bienvenido a FootballWiz</h1>
      <div class="page-subtitle">
        Este es tu portal de referencia para mantenerte al tanto de La Liga de futbol.
        Consulta los puntos de los jugadores de tu equipo favorito y de tu equipo de La liga Fantasy.
        Puedes usar tambien nuestra aplicacion FantasyWiz, para seleccionar el mejor equipo posible para la
        siguiente jornada.
      </div>
    </div>
  </div>
  <div class="home-right-side"></div>
</div>