.home-container {
  position: relative;
  display: flex;
  .home-left-side {
    width: 70%;
    min-height: calc( 100vh - 128px );
    .left-side-container {
      padding: 50px 100px 50px 50px;
      font-family: Poppins;
      .page-title {
        font-size: 35px;
        font-weight: 700;
      }
    }
    .carousel-area {
      padding: 30px 0;
    }
  }
  .home-right-side {
    width: 30%;
    min-height: calc( 100vh - 128px );
    border-left: 15px solid white;
    background-image: url("../../../../../assets/grass.jpg");
  }
}


