/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: #b0bec5;
  font-family: Poppins;
}

.carousel-indicators {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mat-toolbar, .mat-card {
  background: #212121;
  color: white;
}

.mat-dialog-container {
  background-color: #b0bec5;
}